Source: ros-jade-click
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-colorama, ros-jade-catkin (>= 0.6.18), ros-jade-catkin-pip (>= 0.2.0)
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-click
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Python composable command line utility http://click.pocoo.org/
